body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #0e0e0e;
  color: white;
}

main {
  padding-top: 80px; /* space for fixed navbar */
}

.section-title {
  text-align: center;
  margin-bottom: 24px;
}
